@model BHF_grad_task.Models.DonationUserModel


@{
    ViewBag.Title = "DonateForm";
}

<head>
    <title>@ViewBag.Title - Donate to BHF</title>
</head>

<body>
    <h2>Make a donation</h2>
    <p>
        Make a donation mothertrucker. Have some fries with that kindness motherfluffer.
    </p>

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@

    <div id="wrapper">
        <h3>Regular donation</h3>
        <label class="radioImage">
            @*~/Views/Donate/*@
            <img src="https://tanyagrove.files.wordpress.com/2011/05/test-tubes.jpg" alt="Test tubes" />
            <span>
                @Html.RadioButton("regularDonation", 10.00M, false, new { @class = "radioButton" }) £10 could pay for a toolkit for heart attack researchers use in a day
            </span>
        </label>
        <label class="radioImage">
            <img src="http://www.alzheimersresearchuk.org/wp-content/uploads/2015/02/researcher-leader-image3.jpg" alt="Researcher">
            <span>
                @Html.RadioButton("regularDonation", 25.00M, false, new { @class = "radioButton" }) £25 could pay for one hour of research by our early career scientists
            </span>
        </label>
        <label class="radioImage">
            <img src="http://www.research-in-germany.org/mediaObject/en/Jobs-and-Career/female-researcher-inspecting-tube/original/female+researcher+inspecting+tube.jpg" alt="phd researcher" />
            <span>
                @Html.RadioButton("regularDonation", 50.00M, false, new { @class = "radioButton" }) £50 could support a PhD student starting their career in research
            </span>
        </label>
        @*<div>
            @Html.LabelFor(model => model.donation.Money)
            <div class="withPound">
                <span class="poundSign">&pound;</span>
                @Html.TextBoxFor(model => model.donation.Money)
                @Html.ValidationMessageFor(model => model.donation.Money)
            </div>
        </div>*@

        @*<label class="otherAmount">
                Other amount <span class="poundSign">£</span>  <span>@Html.TextBoxFor(model => model.Money)</span>
            </label>*@
    </div>

    @{
        List<SelectListItem> listTitles = new List<SelectListItem>();
        listTitles.Add(new SelectListItem
        {
            Text = "Ms",
            Value = "Ms"
        });
        listTitles.Add(new SelectListItem
        {
            Text = "Mr",
            Value = "Mr"
            //Selected = true
        });
        listTitles.Add(new SelectListItem
        {
            Text = "Mrs",
            Value = "Mrs"
        });
        listTitles.Add(new SelectListItem
        {
            Text = "Miss",
            Value = "Miss"
        });
        listTitles.Add(new SelectListItem
        {
            Text = "Dr",
            Value = "Dr"
        });
        listTitles.Add(new SelectListItem
        {
            Text = "Professor",
            Value = "Professor"
        });
        listTitles.Add(new SelectListItem
        {
            Text = "Other",
            Value = "Other"
        });
    }

    @{
        List<SelectListItem> listRegularity = new List<SelectListItem>();
        listRegularity.Add(new SelectListItem
        {
            Text = "One-off",
            Value = "One-off",
            Selected = true
        });
        listRegularity.Add(new SelectListItem
        {
            Text = "Monthly",
            Value = "Monthly"
        });
        listRegularity.Add(new SelectListItem
        {
            Text = "Quarterly",
            Value = "Quarterly"
        });
        listRegularity.Add(new SelectListItem
        {
            Text = "Annually",
            Value = "Annually"
        });
    }

  <div id="user">
        <h3>Your Details</h3>
        
        @using (Html.BeginForm("DonateForm", "Donate", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <div class="title">
                    @Html.LabelFor(model => model.user.Title)
                    @Html.DropDownListFor(model => model.user.Title, listTitles, "Select")
                </div>
                <div class="forename">
                    @Html.LabelFor(model => model.user.Forename)
                    @Html.TextBoxFor(model => model.user.Forename)
                    @Html.ValidationMessageFor(model => model.user.Forename)
                </div>
                <div class="surname">
                    @Html.LabelFor(model => model.user.Surname)
                    @Html.TextBoxFor(model => model.user.Surname)
                    @Html.ValidationMessageFor(model => model.user.Surname)
                </div>
                <div class="email">
                    @Html.LabelFor(model => model.user.Email)
                    @Html.TextBoxFor(model => model.user.Email)
                    @Html.ValidationMessageFor(model => model.user.Email)
                </div>
                <div class="noAddress">
                    @Html.LabelFor(model => model.user.NoAddress)
                    @Html.TextBoxFor(model => model.user.NoAddress)
                    @Html.ValidationMessageFor(model => model.user.NoAddress)
                </div>
                <div class="address">
                    @Html.LabelFor(model => model.user.Address)
                    @Html.TextBoxFor(model => model.user.Address)
                    @Html.ValidationMessageFor(model => model.user.Address)
                </div>
                <div class="postCode">
                    @Html.LabelFor(model => model.user.PostCode)
                    @Html.TextBoxFor(model => model.user.PostCode)
                    @Html.ValidationMessageFor(model => model.user.PostCode)
                </div>
                <div class="telephone">
                    @Html.LabelFor(model => model.user.Telephone)
                    @Html.TextBoxFor(model => model.user.Telephone)
                    @Html.ValidationMessageFor(model => model.user.Telephone)
                </div>
                <div class="regularity">
                    @Html.LabelFor(model => model.donation.Regularity)
                    @Html.DropDownListFor(model => model.donation.Regularity, listRegularity)
                    @Html.ValidationMessageFor(model => model.donation.Regularity)
                </div>
                <div>
                    @Html.LabelFor(model => model.donation.Money)
                    <div class="withPound">
                        <span class="poundSign">&pound;</span>
                        @Html.TextBoxFor(model => model.donation.Money)
                        @Html.ValidationMessageFor(model => model.donation.Money)
                    </div>
                </div>
                
                <p>

                    <input type="submit" value="Submit" />

                </p>

            </fieldset>
        }
    </div>



    @*<div id="wrapper2">
        <h3>One-off donation</h3>
        <label class="radioImage">*@
    @*~/Views/Donate/*@
    @*<img style="height: 253px;" src="https://www.bhf.org.uk/-/media/images/heart-health/risk-factors/sub-landing-tiles/heart-helpline.jpg?h=205&w=638&la=en" alt="Nurse talking on heart helpline" />
            <span>
                @Html.RadioButton("radioOneOff", 20.00M) £20 could provide an hour of vital support from a Helpline Cardiac Nurse
            </span>
        </label>*@
    @*<label class="radioImage">*@
    @*&#64; is the encoded version of @*@
    @*<img style="height: 253px;" src="http://cpr.heart.org/idc/groups/heart-public/&#64;wcm/&#64;ecc/documents/image/~extract/UCM_476785~1~staticrendition/large.jpg" alt="CPR training session">
            <span>
                @Html.RadioButton("radioOneOff", 50.00M) £50 could help fund a training kit which allows more people to learn CPR
            </span>
        </label>
        <label class="radioImage">
            <img style="height: 253px;" src="http://www.gla.ac.uk/media/media_334681_en.jpg" alt="nhf researcher" />
            <span>*@
    @*@Html.RadioButton("radioOneOff", 85.00M) £85 could help train one of our PhD students for one day
                </span>
            </label>
        </div>*@

    <div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.donation.Money)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.donation.DonationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.donation.Regularity)
                </th>
                <th></th>
            </tr>

            @*@foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Money)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DonationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Regularity)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.DonationID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.DonationID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.DonationID })
                        </td>
                    </tr>
                }*@

        </table>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/donate")
}

