@model IEnumerable<BHF_grad_task.Models.Donation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Donate", "DonateForm")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DonationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Regularity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Money)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regularity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DonationID }) |
                @Html.ActionLink("Details", "Details", new { id = item.DonationID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DonationID })
            </td>
        </tr>
    }

</table>
