@model IEnumerable<BHF_grad_task.Models.DonationUserModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Donate", "DonateForm")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.donation.DonationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donation.DonationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donation.Money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donation.Regularity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.Forename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.NoAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.PostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.Telephone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.donation.DonationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.donation.DonationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.donation.Money)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.donation.Regularity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Forename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.NoAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.PostCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Telephone)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.donation.DonationID }) |
                @Html.ActionLink("Details", "Details", new { id = item.donation.DonationID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.donation.DonationID })
            </td>*@
        </tr>
    }

</table>
